.Movies {
  .movieSelect {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
  }

  .visualizations {
    padding-bottom: 100px;

    .screentimeChart {
      width: 90%;
      margin: 0 auto;
      margin-top: 50px;
    }

    .sharedScreentimeGraph {
      height: 100vh;
    }
  }
}